.header {
    background-image: url('../images/header.jpeg');
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
    display: flex;
    justify-content: right;
}

.profile {
    background-image: url('../images/user.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 60px;
    margin-top: 10px;
}